@font-face{
    src:url(font/HelveticaNowText-Bold.ttf);
    font-family: Helvetica;
    font-weight: 700;
}
@font-face{
    src:url(font/HelveticaNowText-Regular.ttf);
    font-family: Helvetica;
}

body {
    font-family: "Helvetica";
    background: #ffffff;
    margin: 0;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 5px;
}
body::-webkit-scrollbar-track {
    background: #e8e8e8;
}
body::-webkit-scrollbar-thumb {
    background: #000;
}
html {
    overflow-x: hidden;
}
img {
    max-width: 100%;
}
.container {
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
}
a:hover {
    text-decoration: none !important;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.col-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}
/*menu*/
.header-menu .container {
    padding: 0 20px;
}
.header-menu {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 110px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    justify-content: space-between;
}
.header-menu .row {
    align-items: center;
}
.header-menu .col-2 {
    flex: 0 0 170px;
    max-width: 170px;
}
.header-menu .col-7 {
    flex-basis: calc(75% - 170px);
    max-width: 75%;
}
.btn-right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}
.ent-top-header {
    margin-left: 25px;
}
/* slider */
.session-slider {
    position: relative;
}
.session-slider .img-slider img {
    width: 100%;
    height: 56vw;
    object-fit: cover;
}
.content-slider {
    position: absolute;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
}
.name-slider span {
    display: block;
    color: #fff;
    font-size: 29px;
    text-transform: uppercase;
    font-weight: 700;
}
.link-slider > a {
    display: inline-block;
    text-align: center;
    width: 272px;
    height: 49px;
    line-height: 49px;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
}
.name-slider {
    margin-bottom: 40px;
}
/* slider */

/* discover */
.content-discover-more {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -5px;
}
.content-discover-more .item-discover-more {
    padding: 0 5px;
}
.item-discover-more .img {
    padding-top: 100%;
    position: relative;
    margin-bottom: 10px;
}
.item-discover-more .img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section-discover-more {
    margin: 50px 20px;
    overflow: hidden;
}
.title-section {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.title-discover-more a {
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 2px solid #000;
    line-height: 1.7;
}
/* discover */

/* footer */
div#footer .title-section {
    font-weight: normal;
    margin-bottom: 15px;
}
ul {
    padding: 0;
}
ul > li {
    list-style: none;
}
.content-explore ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
.content-explore ul > li > a {
    display: inline-block;
    padding: 10px;
    border: 1px solid #000;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 11px;
}
.content-explore ul > li {
    margin-right: 10px;
}
.footer-explore {
    border-top: 1px solid #ebebeb;
    padding: 50px 0;
    border-bottom: 1px solid #ebebeb;
}
.menu-footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}
.menu-footer ul > li > a {
    color: #000;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 25px;
    text-align: center;
}

.menu-footer {
    padding: 30px 0;
    border-bottom: 1px solid #ebebeb;
}
.copy {
    text-align: center;
    padding: 40px 0;
}
.copy img {
    height: 15px;
}
div#footer {
    padding: 0 20px;
}
.content-discover-more .col {
    flex: 0 0 33.33%;
}
@media (min-width: 1200px) {
    .vmenu_link .target_show ul.nav-list > li > a > span {
        display: none;
    }
    .vmenu_link .target_show ul.nav-list > li {
        list-style: none;

        margin-right: 30px;
    }
    .vmenu_link .target_show ul.nav-list {
        display: flex;
        margin: 0 auto;
        padding: 0;
    }
    .vmenu_link .target_show ul.nav-list > li > a {
        color: #000;
        font-size: 12px;
        padding: 12px 0px;
        text-align: center;
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
    }
    .vmenu_link .target_show ul.nav-list > li > a > img {
        position: relative;
        top: -3px;
    }
    button.close_show {
        display: none;
    }
    .info-why .item-why {
        height: 100% !important;
    }
}

@media (max-width: 1200px) {
    .session-slider .img-slider img {
        height: 156vw;
    }
    .ent-top-header.heart,
    .ent-top-header.user {
        display: none;
    }
    .header-menu .col-7 {
        flex: 0 0 53px;
        order: 3;
    }
    .header-menu .col-2 {
        flex-basis: calc(75% - 53px);
        max-width: 75%;
    }
    .vmenu_link .nav-bar .target_show {
        width: 300px;
        left: -300px;
        height: 100%;
        position: fixed;
        background-color: #fff;
        top: 0;
        left: -30rem;
        height: 100vh;
        transition: 0.5s ease-out;
        z-index: 999;
        padding: 5px 15px;
    }
    .vmenu_link .toggle > .target_show {
        left: 0;
        box-shadow: 1px 0 15px 2px rgba(0, 0, 0, 0.4);
    }
    .vmenu_link .toggle-menu {
        position: relative;
        top: 0;
        left: 0;
        width: 26px;
        height: 23px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 0.5rem;
    }
    .vmenu_link .line {
        width: 100%;
        height: 2px;
        border-radius: 5px;
        background-color: #000;
        transition: 0.2s ease-out;
    }
    .vmenu_link .toggle .line1 {
        background-color: #000000;
        transform: scale(0.9) rotateZ(-45deg) translate(-5px, 5px);
    }
    .vmenu_link .toggle .line2 {
        display: none;
    }
    .vmenu_link .toggle .line3 {
        background-color: #000;
        transform: scale(0.9) rotateZ(45deg) translate(-4.5px, -5px);
    }

    .vmenu_link .nav-list {
        list-style: none;
    }
    .vmenu_link .nav-list-item {
        text-align: left;
        padding: 10px 0;
    }
    .vmenu_link .nav-link {
        color: #000000;
        font-size: 16px;
        text-decoration: none;
        position: relative;
        padding-bottom: 0.4rem;
        text-transform: uppercase;
        padding: 0;
    }
    .vmenu_link .nav-link::before {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: #fff;
        transform: scaleX(0);
        transition: 0.4s ease-in-out;
        transform-origin: left;
    }
    .vmenu_link .nav-link:hover::before {
        transform: scaleX(1);
    }
    .nh-row.landing_menu-header > .container > .row > div {
        display: flex;
    }
    .vmenu_link {
        padding: 12px 0px;

        float: right;
    }
    .vmenu_link .nav-link img {
        display: none;
    }
    .toggle button.close_show {
        width: 25px;
        height: 25px;
        font-size: 18px;
        line-height: 21px;
        border-radius: 50%;
        text-align: center;
        display: inline-block;
        color: #000000;
        background: #ffffff;
        position: absolute;
        right: 5px;
        z-index: 99999999;
        top: 5px;
        border: 1px solid #000000;
    }

    .content-explore ul > li {
        margin-bottom: 10px;
    }
    .content-discover-more .col {
        flex: 0 0 50%;
    }
    .content-discover-more .item-discover-more {
        margin-bottom: 30px;
    }
    .content-discover-more .col:last-child .item-discover-more {
        margin-bottom: 0;
    }
}

@media (max-width: 767px) {
    .content-discover-more .col {
        flex: 0 0 100%;
    }
    .menu-footer ul > li > a {
        display: block;
        padding: 15px 25px;
    }
    .menu-footer ul > li {
        flex: 0 0 100%;
    }
}
